<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>


  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="imagenPromocionalUno.png" class="img-fluid" alt="..." style="margin-bottom: 60px;">
            </div>
            <div class="col-md-6" style="background-color: #d16229; height: 700px; margin-bottom: 60px;">
                <h2 class="text-white" style="text-align: center; margin-bottom: 50px; margin-top: 70px;">Ritmo Fit</h2>
                <p style="color: #DFD0B8; text-align: center;">¡Activa tu cuerpo al ritmo de la música! Con Ritmo Fit disfrutarás de clases llenas de energía: quema calorías bailando con Zumba y fortalece tus piernas con los intensos recorridos en bici de Spinning. Diversión garantizada y resultados visibles.</p>
                <div style="color: white; text-align: center; margin-top: 50px; margin-bottom: 30px;">
                    Programa Semanal:
                </div>
                <div class="auxTexto">
                    <p>*Lunes: Zumba (7:00 PM)</p>
                    <p>*Martes: Spinning (7:00 PM)</p>
                    <p>*Miércoles: Zumba (7:00 PM)</p>
                    <p>*Jueves: Spinning (7:00 PM)</p>
                    <p>*Viernes: Zumba + Spinning (Clases seguidas, 6:00 PM y 7:00 PM)</p>
                </div>
                <p style="color: white; text-align: center; margin-top: 50px;">Costo Mensual: 350$</p>
            </div>
        </div>
    </div>

    <div class="carousel-item">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="imagenPromocionalSeis.png" class="img-fluid" alt="..." style="margin-bottom: 60px;">
            </div>
            <div class="col-md-6" style="background-color: #082135; height: 700px; margin-bottom: 60px;">
                <h2 class="text-white" style="text-align: center; margin-bottom: 50px; margin-top: 70px;">Power Fusion</h2>
                <p style="color: #DFD0B8; text-align: center;">Encuentra tu equilibrio con Power Fusion. Mejora tu flexibilidad, postura y fuerza interior con esta poderosa combinación de CrossFit y BodyPump. Ideal para quienes buscan armonía, control corporal y bienestar mental.</p>
                <div style="color: white; text-align: center; margin-top: 50px; margin-bottom: 30px;">
                    Programa Semanal:
                </div>
                <div class="auxTexto">
                    <p>*Lunes: CrossFit (7:00 AM)</p>
                    <p>*Martes: BodyPump (7:00 AM)</p>
                    <p>*Miércoles: CrossFit (7:00 AM)</p>
                    <p>*Jueves: BodyPump (7:00 AM)</p>
                    <p>*Sábado: CrossFit + BodyPump (Sesión de relajación y tonificación – 9:00 AM)</p>
                </div>
                <p style="color: white; text-align: center;">Costo Mensual: 400$</p>
            </div>
        </div>
    </div>

    <div class="carousel-item">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="imagenPromocionalTres.png" class="img-fluid" alt="..." style="margin-bottom: 60px;">
            </div>
            <div class="col-md-6" style="background-color: #08626f; height: 700px; margin-bottom: 60px;">
                <h2 class="text-white" style="text-align: center; margin-bottom: 50px; margin-top: 70px;">Power Burn</h2>
                <p style="color: #DFD0B8; text-align: center;">Siente la potencia con Power Burn, una mezcla explosiva de entrenamiento funcional y tonificación con pesas. Supera tus límites con CrossFit y esculpe tu cuerpo con Body Pump. ¡Entrena como nunca antes!</p>
                <div style="color: white; text-align: center; margin-top: 50px; margin-bottom: 30px;">
                    Programa Semanal:
                </div>
                <div class="auxTexto">
                    <p>*Lunes: Body Pump (6:00 PM)</p>
                    <p>*Martes: CrossFit (6:00 PM)</p>
                    <p>*Miércoles: Descanso activo (estiramiento o foam rolling)</p>
                    <p>*Jueves: CrossFit (6:00 PM)</p>
                    <p>*Viernes: Body Pump (6:00 PM)</p>
                    <p>*Sábado: Circuito combinado CrossFit + Pump (10:00 AM)</p>
                </div>
                <p style="color: white; text-align: center;">Costo Mensual: 450$</p>
            </div>
        </div>
    </div>

    <div class="carousel-item">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="imagenPromocionalCinco.png" class="img-fluid" alt="..." style="margin-bottom: 60px;">
            </div>
            <div class="col-md-6" style="background-color: #0e372c; height: 700px; margin-bottom: 60px;">
                <h2 class="text-white" style="text-align: center; margin-bottom: 50px; margin-top: 70px;">Golpe Activo</h2>
                <p style="color: #DFD0B8; text-align: center;">Desata tu fuerza con Golpe Activo. Aprende técnicas de defensa personal, mejora tu resistencia y libera el estrés con nuestras intensas clases de Boxeo y Kickboxing. ¡Poder, agilidad y confianza en cada golpe!</p>
                <div style="color: white; text-align: center; margin-top: 50px; margin-bottom: 30px;">
                    Programa Semanal:
                </div>
                <div class="auxTexto">
                    <p>*Lunes: Boxeo (6:30 PM)</p>
                    <p>*Martes: Kickboxing (6:30 PM)</p>
                    <p>*Miércoles: Técnica de combate (mixto, 6:30 PM)</p>
                    <p>*Jueves: Boxeo (6:30 PM)</p>
                    <p>*Viernes: Kickboxing (6:30 PM)</p>
                    <p>*Domingo: Entrenamiento libre con instructor (10:00 AM)</p>
                </div>
                <p style="color: white; text-align: center;">Costo Mensual: 500$</p>
            </div>
        </div>
    </div>

    <div class="carousel-item">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="imagenPromocionalCuatro.png" class="img-fluid" alt="..." style="margin-bottom: 60px;">
            </div>
            <div class="col-md-6" style="background-color: #08626f; height: 700px; margin-bottom: 60px;">
                <h2 class="text-white" style="text-align: center; margin-bottom: 50px; margin-top: 70px;">Balance Intenso</h2>
                <p style="color: #DFD0B8; text-align: center;">Encuentra tu equilibrio con Balance Intenso. Mejora tu flexibilidad, postura y fuerza interior con esta poderosa combinación de Yoga y Pilates. Ideal para quienes buscan armonía, control corporal y bienestar mental.</p>
                <div style="color: white; text-align: center; margin-top: 50px; margin-bottom: 30px;">
                    Programa Semanal:
                </div>
                <div class="auxTexto">
                    <p>*Lunes: Yoga (8:00 AM)</p>
                    <p>*Martes: Pilates (8:00 AM)</p>
                    <p>*Miércoles: Yoga (8:00 AM)</p>
                    <p>*Jueves: Pilates (8:00 AM)</p>
                    <p>*Viernes: Yoga (8:00 AM)</p>
                    <p>Sábado: Clase combinada especial Yoga + Pilates (10:00 AM)</p>
                </div>
                <p style="color: white; text-align: center;">Costo Mensual: 600$</p>
            </div>
        </div>
    </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden" >Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="text-center">
    <button routerLink="/inscribete" class="btn btn-inscribete">Inscribete Ahora</button>
</div>

<app-imagenes-lugar 
  [imagenes]="[
    'instalacionesUno.jpg',
    'instalacionesDos.jpg',
    'instalacionesTres.jpg',
    'instalacionesCuatro.jpg',
    'instalacionesCinco.jpg'
  ]"
  (imagenSeleccionadaEvent)="onImagenSeleccionada($event)">
</app-imagenes-lugar>


