<!-- Main Image -->
<div class="main-image-container ">
  <div class="main-image-item position-relative ">
    <img src="mainImage.png" class="d-block w-100" alt="Benemérita Universidad Autónoma de Aguascalientes">
    <div class="position-absolute top-50 start-50 translate-middle text-center text-overlay">
      <h1>¡Bienvenido a tu nueva versión!</h1>
      <p>Transforma tu cuerpo. Libera tu potencial.</p>
    </div>
  </div>
</div>

<!-- Por qué Escogernos -->
<div class="chose-us-section">
  <h3>Por que Escogernos</h3>
  <!-- Razones -->
   <div class="content">
    <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Razones para elegir nuestro gimnasio">
      @for (reason of gymReasons; track reason) {
        <mat-chip selected>
          <mat-icon class="me-2" inline>{{reason.icon}}</mat-icon>
          {{reason.text}}
        </mat-chip>
      }
    </mat-chip-listbox>
   </div>
</div>
  
<!--  Nuestros Servicios  -->
<div class="Services">
  <h3>Nuestros Servicios</h3>
  <div class="container py-4">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="Zumba.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Zumba</h5>
            <p class="card-text">Una clase de baile aeróbico que combina música latina y ejercicios cardiovasculares.</p>
          </div>
        </div>
      </div>
      
      <!-- Card 2 -->
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="spinning.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Spinning</h5>
            <p class="card-text">Clases en bicicletas estáticas que simulan recorridos en exteriores con intervalos de alta y baja intensidad.</p>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="pilates.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pilates</h5>
            <p class="card-text">Ejercicios de bajo impacto que se enfocan en la fuerza del core (zona central del cuerpo), la flexibilidad y la postura. </p>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="yoga.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Yoga</h5>
            <p class="card-text">Clases que combinan ejercicios físicos, respiración y meditación para mejorar la flexibilidad, la fuerza y la relajación.</p>
          </div>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="BodyPump.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Body Pump</h5>
            <p class="card-text">Una clase de entrenamiento con pesas que se centra en la tonificación muscular mediante movimientos de alta repetición.</p>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="crosfit.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">CrossFit</h5>
            <p class="card-text">Un programa de entrenamiento funcional que combina levantamiento de pesas, ejercicios cardiovasculares y movimientos de agilidad. </p>
          </div>
        </div>
      </div>

      <!-- Card 7 -->
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="box.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Boxeo</h5>
            <p class="card-text">Clases de entrenamiento basadas en el boxeo, que incluyen técnicas de golpeo y trabajo de resistencia.</p>
          </div>
        </div>
      </div>

      <!-- Card 8 -->
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="kickBoxing.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Kickboxing</h5>
            <p class="card-text"> Combina técnicas de patadas y golpes de boxeo en una clase que también mejora la resistencia y la tonificación muscular</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button routerLink="/paquetes" class="btn btn-paquetes">Conoce Nuestros Paquetes</button>
  </div>
</div>

  
  