<header style="background-color: #212121; color: white; padding: 20px 0;">
  <div class="auxHeader">
    <img src="android-chrome-192x192.png" alt="Logo del Gym" style="height: 80px;">
    <h1 style="margin: 0; font-size: 2.5rem;">Kraken GYM</h1>
    <nav class="navAux">
      
      @if (username) {
        <span class="username-display">Bienvenido, {{ username }}</span>
      }

      <a [routerLink]="isLoginRoute3() ? '/' : '/inscribete'">
        {{ isLoginRoute3() ? 'Inicio' : 'Inscribete' }}
      </a>

      <a [routerLink]="isLoginRoute2() ? '/' : '/paquetes'">
        {{ isLoginRoute2() ? 'Inicio' : 'Paquetes' }}
      </a>

      <a [routerLink]="isLoginRoute4() ? '/' : '/contacto'">
        {{ isLoginRoute4() ? 'Inicio' : 'Ubicación' }}
      </a>

      <a [routerLink]="isLoginRoute5() ? '/' : '/ejercicios-api'">
        {{ isLoginRoute5() ? 'Inicio' : 'Ejercicios' }}
      </a>

      <a [routerLink]="isLoginRoute6() ? '/' : '/about-us'">
        {{ isLoginRoute6() ? 'Inicio' : 'Quienes Somos' }}
      </a>

      @if (!username) {
        <a [routerLink]="isLoginRoute() ? '/' : '/login'">
          {{ isLoginRoute() ? 'Inicio' : 'Log In' }}
        </a>
      }

      @if (username) {
        <a [routerLink]="'/'" (click)="logout()">Log Out</a>
      }

      <div id="buscoEjercicio" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar" #buscarTexto (keyup.enter)="buscarEjercicio(buscarTexto.value)">
      </div>
      <button class="btn btn-outline-success" (click)="buscarEjercicio(buscarTexto.value)" type="button">Search</button>

      @if (username) {
        <div class="dropdown botonAdmins">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #001f3f;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: transparent; ">
            <a class="dropdown-item" [routerLink]="'/mostrar-datos-admins'">Inscripciones</a>
            <a class="dropdown-item" [routerLink]="'/mostrar-datos-admins-aux'">Intentos de LogIn</a>
          </div>
        </div>
      }

    </nav>
  </div>
</header>

<router-outlet></router-outlet>


<footer style="background-color: #212121; color: white; padding: 20px; text-align: center;">
  <p>&copy; KrakenGYM. All the rights reserved. Proyecto Universitario</p>
  <p>Síguenos:
    <a href="#" style="color: #01b2c2; text-decoration: none;">Facebook</a> |
    <a href="#" style="color: #01b2c2; text-decoration: none;">Instagram</a>
  </p>
</footer>
